header {
    text-align: center;
    background: linear-gradient(rgb(138, 43, 186), rgb(148, 11, 163));
    color: aliceblue;
    padding: 5px;
}

.search-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.btn {
    justify-content: center;
}
.card {
    border: 5px, solid, blue;
}

.search {
    padding-bottom: 2px;
    flex-direction: column;
    justify-content: center;
    size: 30px
}
.form {
    padding-top: 1px;
    align-items: center;
}
.btn {
    margin-left: 6px;
}
.content {
    align-items: center;
}
.title {
    border: 1px;
    padding:10px;
}
.units {
    padding: 2px;
    size: 15px
}