header {
    text-align: center;
    background: linear-gradient(rgb(138, 43, 186), rgb(148, 11, 163));
    color: aliceblue;
    padding: 5px;
}

.card {
  padding-left: 40px;
  flex-direction: column;
}
.search {
    padding: 10px;
    align-items: center;
    size: 30px
}
.form {
    align-items: center;
}
.btn {
    margin-left: 6px;
}
.content {
    align-items: center;
}
.title {
    border: 1px;
    padding:10px;
}
.degrees {
    padding: 2px;
}